$hex-radius = 50px

colors = #1d1f21, #282a2e, #373b41, #969896, #b4b7b4, #c5c8c6, #e0e0e0, #ffffff,
  #cc6666, #de935f, #f0c674, #b5bd68, #8abeb7, #81a2be, #b294bb, #a3685a

.c1 { background: colors[8] }
.c2 { background: colors[9] }
.c3 { background: colors[10] }
.c4 { background: colors[11] }
.c5 { background: colors[12] }
.c6 { background: colors[13] }
.c7 { background: colors[14] }
.c8 { background: colors[15] }

body
  background colors[1]
  height 100%
  font-family "Helvetica Neue", Arial, sans-serif

.hex-clip-vertical
  clip-path polygon(
    100% 50%,
    75% 93.30127018922192%,
    25% 93.30127018922192%,
    0% 50%,
    25% 6.6987298107780475%,
    75% 6.6987298107780475%
  )

.hex-clip-horizontal
  clip-path polygon(
    50% 100%,
    93.30127018922192% 75%,
    93.30127018922192% 25%,
    50% 0,
    6.6987298107780475% 25%,
    6.6987298107780475% 75%
  )

.hex
  @extend .hex-clip-horizontal
  position absolute
  width $hex-radius * 2
  height @width
  margin-top -($hex-radius)
  margin-left @margin-top
  text-align center
  line-height $hex-radius * 2
  font-size $hex-radius/2
  color rgba(#000, 0)
  background colors[2]
  cursor pointer

  &:hover
    background rgba(colors[8], 0.2)

.board
  margin 0 auto
